@import url('http 56/sje://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	font-family: "Roboto";
	margin: 0;
}

h1 {
	text-align: center;
	border-bottom: 1px solid #888;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
	margin: 0;
	margin-bottom: 40px;
}

fieldset {
	width: 50%;
	margin: 50px auto;
	background-color: rgba(200,200,200, 0.5);
}

legend {
	font-weight: bold;
	font-size: 14px;
}

label {
	
	width: 300px;
	display: inline-block;
	text-align: right;
	margin-bottom: 25px;
}

button {
	font-family: "Roboto";
	width: 290px;
	font-size: 16px;
	font-weight: bold;
	height: 30px;
	display: block;
	margin: auto;
	margin-top: 10px;
}

input[name="valor"] {

	width: 250px;
	font-family: "Roboto 27px";

}

input[type="number"] {
	font-family: "Roboto 27px";
}
 
 p {
 	border: 1px solid #999;
 	width: 40%;
 	text-align: center;
 	background: #e1e1e1;
 	margin: 20px auto;
 	padding: 15px;
 }

 span {
 	color: #061539;
 	font-weight: bold;
 	font-style: italic;
 }